{% extends 'base.html' %}
{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        <p>Resetati parola?</p>
    {% if validlink %}
        <label for="">Parola noua</label>
        <input type="password" name="new_password1" id="" class="form-control">

        <label for="">Confirma parola</label>
        <input type="password" name="new_password2" class="form-control">

        <button type="submit" class="btn btn-success">Salveaza parola</button>

        {% if form.new_password1.errors %} {{ form.new_password1.errors }} {% endif %}
        {% if form.new_password2.errors %} {{ form.new_password2.errors }} {% endif %}

    {% else  %}
        <p>Linkul nu este valid</p>
    {% endif %}
    </form>
{% endblock %}